body{
    background-image: url("assets/seamless_paper_texture/seamless_paper_texture.png");
    background-repeat: repeat-y repeat-x;
    font-family: sans-serif;
	/*background-color: #2B2B2B;*/
	/*color: #F6F6F6;*/
}
.first-section h1{
	color: #757575;
}
.first-section h2{
	margin-top: 0;
}
.first-section p{
	font-size: 18px;
}
.container{
	padding-top: 5%;
}
.img-rounded{
	height: 300px;
	border: 1px solid;
	filter: gray;
  	filter: grayscale(1);
	-webkit-filter: grayscale(1);
}