body{
    background-image: url("assets/greyzz/greyzz.png");
    background-repeat: repeat-y repeat-x;
	/*background-color: #2B2B2B;*/
	/*color: #F6F6F6;*/
}
.first-section h1{
	color: #757575;
}
.second-section{
	margin-top: 50px;
}
.container{
	padding: 5%;
}