body{
    background-image: url("assets/greyzz/greyzz.png");
    background-repeat: repeat-y repeat-x;
	/*background-color: #2B2B2B;*/
	/*color: #F6F6F6;*/
}
.first-section h1{
	color: #757575;
}
.first-section h2{
	margin-top: 0;
}
.first-section p{
	font-size: 18px;
}
.container{
	padding-top: 5%;
}
.img-circle{
	height:300px;
	border: 1px;
	/*-webkit-filter: grayscale(1);*/
}